Repository Kosmos299/WSEAnnotations, changes with the labels that .github/labeler.yml gives for each.
All labels: Ancient, Anubis, Dust2, Mirage, Nuke, Config

Update Anubis annotations
  annotations/Anubis/anubis_exec.txt
Labels: Anubis

Text Edits
  annotations/Anubis/anubis_exec.txt
  annotations/Dust2/dust2_exec.txt
  annotations/Mirage/mirage_exec.txt
  images/WSENuke.pdn
  images/WSEnuke.png
Labels: Anubis, Dust2, Mirage

Add ancient B Long rush smoke
  annotations/Ancient/ancient_exec.txt
Labels: Ancient

added Ancient.vdf
  annotations/Mirage/mirage_exec.txt
  configs/Ancient.vdf
Labels: Mirage

Create modify_config.yml
  .github/workflows/modify_config.yml
Labels: none

Update modify_config.yml
  .github/workflows/modify_config.yml
Labels: none

Update dust2 annotations
  annotations/Dust2/dust2_exec.txt
  configs/Ancient.vdf
Labels: Dust2

Update modify_config
  .github/workflows/modify_config.yml
  configs/Ancient.vdf
Labels: none

Added configs back
  configs/Anubis.vdf
  configs/D2.vdf
  configs/Mirage.vdf
  configs/Nuke.vdf
Labels: none

Update and rename modify_config.yml to modify__ancient_config.yml
  .github/workflows/modify__ancient_config.yml
  .github/workflows/modify_config.yml
Labels: none

Rename modify__ancient_config.yml to modify_ancient_config.yml
  .github/workflows/modify_ancient_config.yml
Labels: none

Update modify_ancient_config.yml
  .github/workflows/modify_ancient_config.yml
Labels: none

Cleanup
  .github/workflows/modify_dust2_config.yml
  config/Ancient.vdf
  configs/Ancient.vdf
  configs/Anubis.vdf
  configs/D2.vdf
  configs/Mirage.vdf
  configs/Nuke.vdf
Labels: Config

Update dust2 annotations
  annotations/Dust2/dust2_exec.txt
Labels: Dust2

Update github actions
  .github/workflows/modify_ancient_config.yml
  .github/workflows/modify_dust2_config.yml
Labels: none

Update github actions
  .github/workflows/modify_anubis_config.yml
  .github/workflows/modify_dust2_config.yml
  .github/workflows/modify_mirage_config.yml
  .github/workflows/modify_nuke_config.yml
  configs/Ancient.vdf
Labels: none

Fix dust2 github actions
  .github/workflows/modify_dust2_config.yml
Labels: none

Update dust2 annotations
  annotations/Dust2/dust2_exec.txt
Labels: Dust2

Updated nuke annotations
  annotations/Nuke/nuke_exec.txt
Labels: Nuke

Updated nuke annotations
  annotations/Nuke/nuke_exec.txt
Labels: Nuke

.github/labeler.yml:

Ancient:
- changed-files:
  - any-glob-to-any-file: annotations/Ancient/*

Anubis:
- changed-files:
  - any-glob-to-any-file: annotations/Anubis/*

Dust2:
- changed-files:
  - any-glob-to-any-file: annotations/Dust2/*

Mirage:
- changed-files:
  - any-glob-to-any-file: annotations/Mirage/*

Nuke:
- changed-files:
  - any-glob-to-any-file: annotations/Nuke/*

Config:
- changed-files:
  - any-glob-to-any-file: config/*
